@{ 
    Layout = null;

}

<div class="sidebox widget">
    <h3 class="widget-title section-title">ARA</h3>
    <form class="searchform" action="/Home/Ara" method="post">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="content" value="Birşeyler Ara" onfocus="this.value = ''" onblur=" this.value='Birşeyler Ara' " />
        <button type="submit" class="btn">Ara</button>
    </form>
</div>
