
@{
    ViewBag.Title = "GirisYap";
}


<form action="/Kullanici/GirisYap" method="post">
    <table>
        <tr>
            <td>Kullanıcı Adı:</td>
            <td><input type="text" name="KullaniciAdi" value="" /></td>
        </tr>
        <tr>
            <td>Parola:</td>
            <td><input type="password" name="Parola" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="name" value="Giriş Yap" /></td>
        </tr>
    </table>
</form>
